.photo-grid {
 margin: 118px 43px 92px 53px;
 width: 1184px;
 height: 442px;
 
}
.photo-grid_list {
 display: grid;
 list-style-type: none;
 grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
 margin: 0;
 padding: 0;
 grid-gap: 16px;
}
.photo-grid__item {
    width: 284px;
    height: 213px;
}

@media screen and (max-width: 768px) {
.photo-grid {
 margin: 64px 24px 0px;
 width: 720px;
 height: 1104px;
 
}
.photo-grid__item {
    width: 352px;
    height: 264px;
}

}
@media screen and (max-width: 320px) {
.photo-grid {
 margin: 0px;
 padding: 38px 16px 0px 16px;
 width: 320px;
 height: 1812px;
 
}
.photo-grid__item {
    width: 100%;
    height: 100%;
}
.photo-grid_list {
 grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
 margin: 0;
 padding: 0;
 gap: 12px;
}
}