@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/content.css);
@import url(../blocks/photo-grid.css);
@import url(../blocks/cities.css);
@import url(../blocks/footer.css);

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}